/* Tags */
html {
  background-image: url("index-background.png");
  background-attachment: fixed;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  font-family: Courier New;
  font-size: 30px;
  color: white;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  padding: 0px 50px;
}

a {
  color: white;
}

a:visited {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

i {
  font-size: 75px;
}

/* Classes */
.nav {
  position: fixed;
  right: 2%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.pip {
  border: solid 1px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.active {
  background-color: white;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

.tab button:hover {
  background-color: #464646;
}

.tab button.active {
  background-color: #747474;
}

.tabcontent, .tabcontent2 {
  display: none;
  height: 100%;
  padding: 6px 12px;
  border-top: none;
}

.slide {
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: center;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
}

.button-group button {
  position: relative;
  background-color: inherit;
  float: center;
  border: solid;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  color: white;
  margin: 10px;
  -webkit-transition: top ease 1s;
  transition: top ease 1s;
}

.button-group button:hover {
  -webkit-box-shadow: 10px 10px grey;
          box-shadow: 10px 10px grey;
  top: -5px;
}

.floating {
  font-size: 50px;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-top: 5px;
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  40% {
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  40% {
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

/* ID */
#contact {
  position: fixed;
  top: -.5rem;
  right: -.5rem;
  opacity: 0;
  font-size: 25px;
  padding: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-image: url("index-background.png");
  border: solid;
  border-radius: 0 0 0 1rem;
}

#contact a {
  padding: .5rem;
}

#slide1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#slide2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mtgspellbook {
  display: block;
}

#PDX-Urban-Dash {
  display: block;
}

img {
  width: 75px;
  height: 75px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 100px;
  }
}
/*# sourceMappingURL=index.css.map */