body{
    background-image: url("index-background.png");
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
}

#git-link{
    position: fixed;
    top:5rem;
    right:10rem;
}

#content{
    margin-top:1rem;
    width:75rem;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#body{
    margin:auto;
    width: 60%;
}

#project-list{
    display: inline-block-grid;
    margin:1rem;
    text-align: center;
}

.header{
    font-family: consolas;
    font-size: 2rem;
    text-align: center;
}


.thumbnail iframe {
    pointer-events: none;
    width: 1440px;
    height: 900px;
}

.thumbnail-container {
    width: calc(1440px * 0.25);
    height: calc(900px * 0.25);
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:solid;
    border-weight:1;
}

.thumbnail {
    position: relative;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
}

.thumbnail iframe {
  opacity: 0;
  transition: all 300ms ease-in-out;
}