// Color variables
$color-one:#212121;
$color-two:#323232;
$color-three:#0d7377;
$color-four:#14ffec;

#about{
    color:$color-four;
}

body{
    a{
        color:inherit;
        text-decoration: none;
    }
}

.content {
    color:white;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: center;
    padding:10rem;
}

.contact{

    display:flex;
    flex-direction: row;
    padding:1rem;
    
    .icon{
        font-size: 5rem;
        height:5rem;
        margin:0 1rem ;
    }
}

  